

.cartao__pokemon {
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}


.cartao__pokemon .cartao__topo{
    padding: 30px 40px 0;
}

.cartao__pokemon .nome{
    margin-bottom: 15px;
}

.cartao__pokemon .tipo {
    font-size: 12px;
    opacity: 0.7;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2px 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.cartao__pokemon .detalhes {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao__pokemon .cartao__imagem {
    width: 350px;
    height: 350px;
    
}

.cartao__pokemon img {
    max-height: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cartao__pokemon .cartao__informacoes {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -50px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao__pokemon .cartao__informacoes h3 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #6B727A;

}

.cartao__pokemon .cartao__informacoes .status, .cartao__pokemon .cartao__informacoes .habilidades {
    padding: 0 10px ;
    width: 180px;
}

.cartao__pokemon .cartao__informacoes .habilidades ul li,
.cartao__pokemon .cartao__informacoes .status ul li
{
    border-bottom: 1px solid #C3C4C5;
    padding: 0 0 5px ;
    margin-bottom: 5px ;
    font-size: 15px;
}

.cartao__pokemon.aberto {
    display: block;
}

.tipo-fogo {
    background-color: #ED8A8B;
}

.tipo-eletrico {
    background-color: #FCC719;
}

.tipo-agua {
    background-color: #76BEFE;
}

.tipo-grama {
    background-color: #49D0B0;
}

.tipo-trevas {
    background-color: #BA68C8;
}

.tipo-dragao{
    background-color: #C29791;
}